@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,900;1,500&display=swap");
@media (max-width: 1024px) {
  .card {
    text-align: center;
  }
  .card .line {
    margin-left: auto;
    margin-right: auto;
  }
  .card .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card .content .profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 0.4rem;
    border: 0.4rem solid #219653;
  }
  .branding .branding-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .branding h1.name {
    text-align: center;
    font-size: 6rem !important;
  }
  nav .toggler {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  nav .toggler .btn-admission {
    margin-right: 0 !important;
  }
  nav .menu-items ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav .menu-items ul li, nav .menu-items ul li > a {
    line-height: 5rem !important;
    width: 100%;
    text-align: left;
    padding: 0;
  }
  nav .menu-items ul li .dropdown-menu, nav .menu-items ul li > a .dropdown-menu {
    width: 100% !important;
    background-color: #333 !important;
    position: inherit !important;
  }
  nav .menu-items ul li .dropdown-menu a, nav .menu-items ul li > a .dropdown-menu a {
    padding-left: 2.5rem !important;
  }
  nav .menu-items ul .btn-admission {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .branding h1.name {
    font-size: 4rem !important;
  }
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 2rem;
  line-height: 2.4rem;
  font-family: 'Roboto', sans-serif;
}

section {
  margin: 5rem 0;
}

h1 {
  font-size: 4rem;
  line-height: 5rem;
  margin-bottom: 2rem;
  font-weight: 300;
}

h4 {
  font-size: 2.4rem;
  font-weight: 500;
}

h4.heading {
  color: #219653;
}

a {
  text-decoration: none !important;
}

p {
  font-size: 2rem;
  line-height: 3.5rem;
}

img {
  max-width: 100%;
}

.h100 {
  height: 10rem;
}

.h50 {
  height: 5rem;
}

.h25 {
  height: 2.5rem;
}

.h10 {
  height: 1rem;
}

.line {
  width: 10rem;
  height: 0.2rem;
  margin-top: 0.8rem;
  margin-bottom: 1.6rem;
  background-color: #EB5757;
}

header .topbar {
  height: 5rem;
  background-color: #333;
}

header .topbar .topbar-wrap {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .topbar .topbar-wrap .left {
  color: #fff;
  font-weight: 500;
}

header .topbar .topbar-wrap .center {
  width: 100%;
  height: 4rem;
  margin: 0 1rem;
  padding: 0 1rem;
  background-color: #C4C4C4;
  border-radius: 10rem;
}

header .topbar .topbar-wrap .center marquee {
  line-height: 4rem;
}

header .topbar .topbar-wrap .right {
  width: 13rem;
  color: #fff;
  text-align: right;
}

header .branding .branding-wrap {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .branding .branding-wrap img {
  height: 8rem;
}

header .branding .branding-wrap h1.name {
  font-size: 7.5rem;
  line-height: 7.5rem;
  font-weight: 500;
  text-transform: uppercase;
}

header .branding .branding-wrap p.est {
  height: 5rem;
  padding: 0 3rem;
  line-height: 5rem;
  background: #EB5757;
  color: #fff;
  font-weight: 500;
}

header .branding .branding-wrap .brand, header .branding .branding-wrap h1.name, header .branding .branding-wrap p.est {
  margin: 1rem auto;
}

header nav {
  background-color: #6fcf979c;
}

header nav .toggler {
  height: 6rem;
  position: relative;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #333;
  padding: 0 1.5rem;
}

header nav .toggler .icon {
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  border-radius: 0.5rem;
  background-color: #219653;
  position: absolute;
  color: #fff;
}

header nav .menu-items {
  cursor: pointer;
}

header nav .menu-items ul {
  max-width: 1024px !important;
  margin: 0 auto !important;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0;
}

header nav .menu-items ul li {
  position: relative;
}

header nav .menu-items ul li a {
  color: #333;
  display: inline-block;
  line-height: 6rem;
  padding: 0 1.5rem;
}

header nav .menu-items ul li:hover {
  background-color: #219653;
}

header nav .menu-items ul li:hover a {
  color: #fff;
}

header nav .menu-items ul li:hover .dropdown-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav .menu-items ul li .dropdown-menu {
  width: 25rem;
  display: none;
  padding: 0;
  border: none;
  border-radius: 0;
  background: #219653;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: absolute;
  left: 0;
  z-index: 101;
}

header nav .menu-items ul li .dropdown-menu li {
  width: 100%;
}

header nav .menu-items ul li .dropdown-menu li a {
  color: #fff;
  display: block;
  line-height: 5rem;
  font-size: 2rem;
}

header nav .menu-items ul li .dropdown-menu li a:hover {
  background-color: #175c35;
}

header nav .btn-admission {
  height: 4rem;
  line-height: 4rem;
  background-color: #EB5757;
  color: #fff;
  border-radius: 10rem;
  padding: 0 2rem;
  margin-left: 1rem;
  margin-right: -1.5rem;
  font-size: 2rem;
}

header nav .btn-admission:hover {
  background-color: #a33f3f;
  color: #fff;
}

#quickLink {
  margin-top: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#quickLink .card-box {
  width: 15rem;
  height: 15rem;
  line-height: 15rem;
  text-align: center;
  border-radius: 1.5rem;
  line-height: 2;
  border: 1px solid transparent;
  margin: 1rem auto;
  -webkit-transition: .2s;
  transition: .2s;
  cursor: pointer;
  transition: .2s;
}

#quickLink .card-box .icon {
  -webkit-transition: .2s;
  transition: .2s;
}

#quickLink .card-box:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  border: 1px solid #219653;
  -webkit-box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.125);
          box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.125);
  -webkit-transition: .2s;
  transition: .2s;
  z-index: 100;
}

#quickLink .card-box:hover .icon {
  color: #219653;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: .2s;
  transition: .2s;
}

.card {
  border-radius: 2.4rem;
  padding: 3.2rem 1.6rem;
  background-color: #F0F0F0;
  border: 0.1rem solid transparent;
}

.card .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card .content .msg {
  text-align: justify;
}

.card .content button.read-more {
  font-size: 2rem;
  width: 16rem;
  height: 5rem;
  border-radius: 10rem;
  background-color: #E3E6EC;
  -webkit-box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  float: right;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.card .content button.read-more:hover {
  background-color: #219653;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.card .profile {
  min-width: 25rem;
  margin-right: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .profile img {
  border-radius: 1rem;
}

.card .profile .name {
  text-align: center;
  margin: 0.8rem 0;
}

.card .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -0.75rem;
  margin-left: -0.75rem;
}

.card .slider .item-wrapper {
  width: 50%;
  padding: 0.75rem;
}

.card .slider .item-wrapper .item {
  width: 100%;
  height: 15rem;
  background-color: #219653;
  border-radius: 1.5rem;
}

.card .slider-associate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -0.75rem;
  margin-left: -0.75rem;
}

.card .slider-associate .item-wrapper {
  width: 25%;
  padding: 0.75rem;
}

.card .slider-associate .item-wrapper .item {
  width: 100%;
  height: 7rem;
  background-color: #219653;
  border-radius: 1rem;
}

.card-widget {
  border-radius: 1.5rem;
  padding: 0 !important;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  border: 0.1rem solid #219653;
  overflow: hidden;
}

.card-widget .title {
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 3rem;
  background-color: #219653;
  color: #fff;
}

.card-widget .content {
  padding: 1rem;
}

.card-widget .title-top {
  border-radius: 1.3rem 1.3rem 0 0;
}

.card-widget .title-bottom {
  border-radius: 0 0 1.3rem 1.3rem;
}

.notice-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.notice-wrapper .cat-sorting {
  margin-bottom: 1rem;
}

.notice-wrapper .cat-sorting .btn-pill {
  border-radius: 10rem;
  font-size: 1.2rem;
  background-color: #ccecda;
}

.notice-wrapper .cat-sorting .btn-pill:hover {
  background-color: #219653;
  color: #fff;
}

.notice-wrapper .notice-item {
  border: 1px solid transparent;
  background-color: #fff;
  border-radius: 1rem;
  margin: .5rem 0;
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

.notice-wrapper .notice-item:hover {
  border: 1px solid #219653;
  -webkit-box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.125);
          box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.125);
  -webkit-transition: .2s;
  transition: .2s;
}

.notice-wrapper .notice-item:hover .action {
  right: 0rem;
  -webkit-transition: .3s;
  transition: .3s;
}

.notice-wrapper .notice-item .date {
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  text-align: center;
  border-radius: 1rem;
  line-height: 2rem;
  background-color: #EB5757;
  color: #fff;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 1rem;
}

.notice-wrapper .notice-item .date span:first-child {
  font-size: 2.5rem;
  font-weight: 500;
}

.notice-wrapper .notice-item .date span:last-child {
  font-size: 1.5rem;
}

.notice-wrapper .notice-item p {
  color: #4F4F4F;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0;
  margin-left: 7rem;
  text-align: left;
}

.notice-wrapper .notice-item .action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: -20rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #ffffffd2;
  padding: 1rem;
  -webkit-transition: .2s;
  transition: .2s;
}

.notice-wrapper .notice-item .action a {
  width: 3.5rem;
  height: 3.5rem;
  line-height: 3.5rem;
  text-align: center;
  border-radius: 50%;
  font-size: 1.5rem;
  display: inline-block;
  background-color: #4F4F4F;
  color: #fff;
  margin: 0.25rem;
  -webkit-transition: .2s;
  transition: .2s;
}

.notice-wrapper .notice-item .action a:hover {
  background-color: #219653;
  -webkit-box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.125);
          box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.125);
  -webkit-transition: .2s;
  transition: .2s;
}

footer {
  background-color: #333;
  color: #fff;
}

footer .line {
  background-color: #fff !important;
}

footer .footer-logo {
  width: 15rem;
}

footer p {
  font-weight: 300;
  font-size: 0.9em;
  line-height: 1.5;
}

footer .socials a {
  width: 3.5rem;
  height: 3.5rem;
  line-height: 3.5rem;
  text-align: center;
  display: inline-block;
  color: #fff;
  font-size: 3rem;
}

footer .socials a:hover {
  color: #219653;
}
/*# sourceMappingURL=style.css.map */