$light: #fff;
$dark: #333;
$primary: #219653;
$primary-deep: #175c35;
$secondary: #6FCF97;
$section-bg: #C4C4C4;
$btn-pill-bg: #ccecda;
$card-bg: #F0F0F0;
$text-primary: #4F4F4F;
$danger: #EB5757; 
$danger-deep: #a33f3f; 
$section-radius: 2.4rem; 
$sidebar-title: 3rem; //sidebar-title-font-size
$card-widget-radius: 1.5rem; // sidebar-card-widget-box-radius
$topbar-height: 5rem;
$site-name-size: 7.5rem; //for header section
$nav-height: 6rem;
$nav-height-sm: 5rem;
$nav-bg: $secondary;